<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/js/burgers.js" type="text/css" />
		<title>MVC App with Burgers!</title>
	</head>
	<body>
		{{{body}}}
	</body>
</html>